.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.swiper-logo {
	height: auto;
	width: 90%;
	margin-left:10px;
}
.swiper-items {
	height:auto;
	width:auto;
}

.container-flex {
  display: flex;  
  flex-wrap: wrap;
}
