.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.centered-navbar{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
}
.sticky-nav {
  position: sticky;
  top: 0;
}
.right-half {
  background-color: #b6701e;
  float: left;
  width: 50%;
}
.nav-item-1 {
  margin-right: 4rem;
}
.text-middle {
  text-align: center;
  vertical-align: middle;
  line-height: 54px; 
  
}
.menu-button{
  background-color: transparent;
  color: #fff;
  padding:15px;
  font-size: 15px;
  cursor:pointer;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.carousel-control-prev {
  margin-left: -150px;

}

.carousel-control-next {
  margin-right: -150px;
 
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 7rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}